.quitMain{
    &_cent{
        background-color: #dbecc0;
        background-image: imgurl('quitSmoke_bg_ottom.png');
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: 100% 163px;
        position: relative;
        @include wh(100wh, 100vh);
    }

    &_que {
        top: 8%;
        z-index: 9;
        bottom: inherit;

        &_2 {
            top: calc(8% + 33px);
            z-index: 9;
            bottom: inherit;
        }

        &_3 {
            top: calc(8% + 66px);
            z-index: 9;
            bottom: inherit;
        }

        &_4 {
            top: calc(8% + 99px);
            z-index: 9;
            bottom: inherit;
        }
    }

    &_cent_s {
        position: absolute;
        width: 100%;
        top: 228px;
        text-align: center;
        font-weight: 600;
        @include sc(16px, #3E322E);
    }

    &_avator {
        @include wh(121px, 121px);
    }

    &_nickname{
        margin: 15px 0 16px 0;
    }

    &_store {
        color: #C15858;
    }

}